<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--Below section specifies XML tag under which log configuration information will be saved-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <appSettings>
    <add key="AppName" value="Manga Scrapper"/>
    <add key="Logger.AssemblyName" value="MangaScrapper.BLL.dll" />
    <add key="Logger.ClassName" value="MangaScrapper.Core.Logging.Log4NetLogger" />
  </appSettings>

  <!--Specifies log file location-->
  <log4net configSource="log4net.config" />

</configuration>